<!DOCTYPE html>
<head>
    <title>Books.ru</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="assets/icon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/templatemo.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="css/fontawesome.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="/main">
                Books.ru
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/main">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/index">Интернет-магазин</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
    
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="assets/banner_1.jpeg" alt="Картинка не загружена">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h3 class="h2">Наш магазин</h3>
                                <p>
                                    Загляните в наш книжный магазин. У нас вы всегда найдете книжные новинки, а также классику отечественной и зарубежной литературы.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="assets/banner_2.jpg" alt="Картинка не загружена">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h3 class="h2">В ногу со временем</h3>
                                <p>
                                    У нас вы можете приобрести как печатную литературу, так и электронные издания.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="assets/banner_3.jpg" alt="Картинка не загружена">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h3 class="h2">Доставка по всей России</h3>
                                <p>
                                    Вы можете заказать доставку любой литературы как в пункты выдачи в своем городе, так и курьерскую доставку до дома.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>

    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Новинки литературы</h1>
                    <p>
                        Присмотритесь к этим новинкам литературы, возможно, вы найдете то, что вам придется по душе. 
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-10 col-md-3 mb-3">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="assets/2946121.jpg" class="card-img-top" alt="Картинка не загружена">
                        </a>
                        <div class="card-body">
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Где я ее оставила</a>
                            <p class="card-text">
                                Эмбер Гарза
                            </p>
                            <p class="text-muted">599₽</p>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-md-3 mb-3">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="assets/2946026.jpg" class="card-img-top" alt="Картинка не загружена">
                        </a>
                        <div class="card-body">
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Царство костей</a>
                            <p class="card-text">
                                Джеймс Роллинс
                            </p>
                            <p class="text-muted">835₽</p>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-md-3 mb-3">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="assets/2938313.jpg" class="card-img-top" alt="Картинка не загружена">
                        </a>
                        <div class="card-body">
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Исход</a>
                            <p class="card-text">
                                Кейт Стюарт
                            </p>
                            <p class="text-muted">589₽</p>
                        </div>
                    </div>
                </div>
                <div class="col-10 col-md-3 mb-3">
                    <div class="card h-100">
                        <a href="shop-single.html">
                            <img src="assets/2936696.jpg" class="card-img-top" alt="Картинка не загружена">
                        </a>
                        <div class="card-body"> 
                            <a href="shop-single.html" class="h2 text-decoration-none text-dark">Куриный бульон для души: Дух Рождества</a>
                            <p class="card-text">
                                Эми Ньюмарк
                            </p>
                            <p class="text-muted">475₽</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Books.ru</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            Стремянный пер., 36, Москва
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:8 (800) 200-XX-XX">8 (800) 200-XX-XX
                        </a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:books@company.ru">books@company.ru</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://telegram.org/"><i class="fab fa-telegram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://vk.com/"><i class="fab fa-vk fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.ok.ru/"><i class="fab fa-odnoklassniki fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2022 Books.ru 
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/templatemo.js"></script>
</body>
</html>